body{
    overflow: hidden;
}
.fullscreen{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    width: 1024px;
    height: 1366px;

}

.page {
    max-width:100%;
    max-height:100%;
}




.big {
    position: absolute;
    top:150px;
    left: 20px;
    width:930px;
    }
.big2 {
    position: absolute;
    top:150px;
    left: 970px;
    width:930px;
}

#prompt {
    z-index: 20000;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.391);
    top:150px;
    left:auto;
    padding: 20px;
    /* height: 140px; */
    font-size: 40px;
    font-variant-caps: all-small-caps;
    font-family: sans;
    font-style: italic;
    color: white;
}

#black {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    background-color: black;
}



/* @font-face {
    font-family: 'BpDotsSquare';
    src: url("../fonts/BPdotsSquare.otf") format("opentype");
} */


.header-container{
    height: 15%;
    display: flex;
}
.logo{
    width: 25%;
    height: 25%;
    margin: 1%;
    margin-left: 12%;
    margin-top: 5%;

}
.img{
    width: 10 vw;
    height: 10%;
}


.header-info{
    width: 79%;
    margin: 1%;
    margin-left: 15%;
    margin-top: 3%;


}

.info{
    display:flex;
}


.payment-info{
    border-style: solid;
    border-color: rgb(6, 6, 119);
    border-width: 10px 20px 10px 20px;
    margin: 1%;
    padding: 1%;
    width: 70%;
    text-align: center;
}

.identificatie{
    border-style: solid;
}

.proces-verbaal{
    display: flex;
}

.identificatie-code{
    display: flex;
}


.label{
    width: 50%;
    margin: 1%;
}

.value{
    border-style: solid;
    width: 50%;
    margin: 1%;
    text-align: center;
}

.proof-img{
    margin: 1%;
    width: 100%;
    
}

/**
.payment-code img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.payment-code p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
**/
.referenties-container{
    height: 10%;
    margin: 1%;
    display: flex;
}

.referenties{
    width: 45%;
}

.boodschap{
    width:  80%;
    margin-left: 21%;
}

.message    {
    margin: 1%;
}

.betaling img{
    margin-left: 1%;
}
